/***body***/

body {
  background:  linear-gradient(to top, rgba(226,242,226,0.75) 5%, transparent, transparent), url(../img/images/TimmDerrickson_Glacier.jpg) no-repeat center center fixed;
  background-size: cover;
}
/*****Header*****/

header {
  background-color: rgba(218, 236, 228, 0.8);
  height: 11rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#tdLogo {
  width: 5rem;
  height: 5rem;
  position: relative;
  display: block;
  margin: 0px auto;
}

.headerIconBox {
  position: relative;
  float: right;
  height: 11rem;
}

.headerIcon {
  display: block;
  width: 2.5rem;
  margin-right: 0.5rem;
}

#fbIcon {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-family: sans-serif;
  font-size: 1.875rem;
  color: #3d524a;
  text-align: center;
  letter-spacing: 2.5rem;
  border-bottom: 0.125rem solid #3d524a;
  width: 80%;
  position: relative;
  margin: 0px auto;
}

nav {
  text-align: center;
  word-spacing: 12.5rem;
  margin: 0px auto;
}
nav a {
  position: relative;
  font-family: serif;
  font-size: 1.5625rem;
  color: #abb69e;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

/***main***/

  .textBox {
    position: relative;
    width: 50rem;
    height: 36rem;
    background-color: rgba(61,82,74,0.50);
    margin: 50px auto 100px 120px;

  }
.textBox p {
  font-size: 1.8rem;
  font-family: sans-serif;
  color: #e2f2e2;
  text-shadow: 0 0.1rem 0.125rem black;
  text-align: justify;
  justify-content: center;
  text-indent: 1rem;
  padding: 1.75rem;
}


/***footer***/

footer {
  width: 100%;

}

footer p {
  text-align: center;
  font-size: 17px;
  letter-spacing: 3px;
  font-family: sans-serif;
  font-weight: 700;
  color: #3d524a;
}
